In [1]:
import pandas as pd 
import numpy as np
from multiprocessing import cpu_count, Pool
import collections
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib notebook

In [2]:
def parallelize(data, func, partitions):
    data_split = np.array_split(data, partitions)
    cores = cpu_count()
    pool = Pool(cores)
    result = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return result

In [10]:
train_1 = pd.read_csv('./Data/train_2016_v2.csv',
                     parse_dates = ['transactiondate'])

In [11]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90275 entries, 0 to 90274
Data columns (total 3 columns):
parcelid           90275 non-null int64
logerror           90275 non-null float64
transactiondate    90275 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 2.1 MB

In [12]:
train_1.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [11]:
properties_1 = pd.read_csv('./Data/properties_2016.csv')

/Users/Zhengyi/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
properties_1.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

### Merge two data sets into one

##### check duplication

In [13]:
np.sum(train_1.groupby('parcelid').agg({'parcelid':pd.Series.nunique}))

parcelid    90150
dtype: int64

In [14]:
len(train_1)

90275

In [15]:
train_1_temp = train_1.groupby('parcelid').count()

In [16]:
train_1_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 10711738 to 162960842
Data columns (total 2 columns):
logerror           90150 non-null int64
transactiondate    90150 non-null int64
dtypes: int64(2)
memory usage: 2.1 MB

In [17]:
train_1_temp_1 = train_1[train_1['parcelid'].isin(train_1_temp[train_1_temp['logerror']>1].reset_index()['parcelid'])]

In [18]:
properties_1[properties_1['parcelid'].isin(train_1_temp_1['parcelid'])]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
19186,11602482,1.0,NaN,NaN,5.0,5.0,NaN,1.0,5.0,NaN,...,NaN,NaN,1042338.0,2078707.0,2015.0,1036369.0,25440.05,NaN,NaN,6.037270e+13
25098,13850164,13.0,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,76740.0,260828.0,2015.0,184088.0,3079.84,NaN,NaN,6.059001e+13
40016,13859028,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,NaN,...,2.0,NaN,146280.0,693258.0,2015.0,546978.0,8004.58,NaN,NaN,6.059099e+13
69420,13041169,1.0,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,...,NaN,NaN,74606.0,139709.0,2015.0,65103.0,1869.97,NaN,NaN,6.037401e+13
81799,12448490,1.0,NaN,NaN,3.0,3.0,NaN,4.0,3.0,NaN,...,NaN,NaN,186600.0,285000.0,2015.0,98400.0,3554.12,NaN,NaN,6.037570e+13
87242,14613416,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,104032.0,287254.0,2015.0,183222.0,3439.08,NaN,NaN,6.059099e+13
118872,14367791,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2255544.0,4074029.0,2015.0,1818485.0,43143.70,NaN,NaN,NaN
119515,17151530,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,44843.0,56017.0,2015.0,11174.0,634.14,NaN,NaN,6.111004e+13
128638,12978851,NaN,NaN,NaN,3.0,6.0,NaN,7.0,3.0,NaN,...,NaN,NaN,94562.0,202988.0,2015.0,108426.0,3223.35,NaN,NaN,6.037405e+13
140622,12276495,NaN,NaN,NaN,3.0,4.0,NaN,7.0,3.0,NaN,...,NaN,NaN,156001.0,217717.0,2015.0,61716.0,3885.56,NaN,NaN,6.037543e+13
150180,10799924,1.0,NaN,NaN,2.0,4.0,NaN,7.0,2.0,NaN,...,NaN,NaN,81490.0,179450.0,2015.0,97960.0,2277.15,NaN,NaN,6.037139e+13
150261,10818076,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,...,NaN,NaN,103445.0,229889.0,2015.0,126444.0,2933.84,NaN,NaN,6.037138e+13
197171,11513960,NaN,NaN,NaN,2.0,2.0,NaN,7.0,2.0,NaN,...,NaN,NaN,219942.0,791232.0,2015.0,571290.0,28009.27,NaN,NaN,6.037621e+13
223588,17164212,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,NaN,...,2.0,NaN,117000.0,333000.0,2015.0,216000.0,4148.26,NaN,NaN,6.111009e+13
236233,14683772,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,66020.0,139620.0,2015.0,73600.0,1760.70,NaN,NaN,6.059032e+13
287632,11845988,NaN,NaN,NaN,1.0,2.0,NaN,7.0,1.0,NaN,...,NaN,NaN,38259.0,107085.0,2015.0,68826.0,1646.39,NaN,NaN,6.037483e+13
290466,12551240,NaN,NaN,NaN,1.0,2.0,NaN,7.0,1.0,NaN,...,NaN,NaN,49224.0,98922.0,2015.0,49698.0,1375.77,NaN,NaN,6.037575e+13
376247,11656774,1.0,NaN,NaN,3.0,2.0,NaN,10.0,3.0,NaN,...,NaN,NaN,1000000.0,3500000.0,2015.0,2500000.0,41973.05,NaN,NaN,6.037701e+13
385880,12678472,NaN,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,...,NaN,NaN,225000.0,500000.0,2015.0,275000.0,6153.97,NaN,NaN,6.037651e+13
452007,12032773,NaN,NaN,NaN,2.0,2.0,NaN,7.0,2.0,NaN,...,NaN,NaN,169805.0,846944.0,2015.0,677139.0,10352.24,NaN,NaN,6.037189e+13
457051,13991964,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,NaN,...,1.0,NaN,67118.0,209379.0,2015.0,142261.0,5338.24,NaN,NaN,6.059088e+13
459293,14667297,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,82852.0,150002.0,2015.0,67150.0,2244.02,NaN,NaN,6.059076e+13
468779,12518077,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,145107.0,338973.0,2015.0,193866.0,6842.21,NaN,NaN,6.037574e+13
524494,11514606,NaN,NaN,NaN,4.0,5.0,NaN,7.0,4.0,NaN,...,NaN,NaN,236595.0,2011102.0,2015.0,1774507.0,21810.59,NaN,NaN,6.037621e+13
553067,11122560,1.0,NaN,NaN,3.0,4.0,NaN,4.0,3.0,NaN,...,NaN,NaN,262120.0,358142.0,2015.0,96022.0,5456.40,NaN,NaN,6.037920e+13
614461,11735136,NaN,NaN,NaN,0.0,0.0,NaN,7.0,NaN,NaN,...,NaN,NaN,15481.0,36872.0,2015.0,21391.0,686.26,NaN,NaN,6.037219e+13
621796,14294516,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,3.0,NaN,86137.0,481165.0,2015.0,395028.0,7746.62,NaN,NaN,6.059063e+13
711863,14500952,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,...,NaN,NaN,201172.0,321993.0,2015.0,120821.0,3144.34,NaN,NaN,6.059032e+13
776818,11419032,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,29757.0,58496.0,2015.0,28739.0,937.88,NaN,NaN,6.037602e+13
785431,14316410,NaN,NaN,NaN,1.0,4.0,NaN,NaN,1.0,NaN,...,2.0,NaN,85265.0,1082448.0,2015.0,997183.0,14081.64,NaN,NaN,6.059063e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392646,14086119,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,131707.0,380962.0,2015.0,249255.0,10637.74,NaN,NaN,6.059089e+13
2455764,11005771,NaN,NaN,NaN,2.0,5.0,NaN,4.0,2.0,NaN,...,NaN,NaN,56889.0,75221.0,2015.0,18332.0,1134.10,NaN,NaN,6.037101e+13
2496128,14607531,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,...,NaN,NaN,113486.0,289000.0,2015.0,175514.0,3844.66,NaN,NaN,6.059089e+13
2501176,11230482,1.0,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,106600.0,133250.0,2015.0,26650.0,1693.29,NaN,NaN,6.037911e+13
2603931,10911172,NaN,NaN,NaN,3.0,4.0,NaN,4.0,3.0,NaN,...,NaN,NaN,235000.0,1035000.0,2015.0,800000.0,12675.08,NaN,NaN,6.037144e+13
2628280,14141531,NaN,NaN,NaN,3.0,5.0,NaN,NaN,3.0,NaN,...,NaN,NaN,92626.0,131869.0,2015.0,39243.0,1888.30,NaN,NaN,6.059002e+13
2635601,11503158,NaN,NaN,NaN,4.0,4.0,NaN,4.0,4.0,NaN,...,NaN,NaN,73620.0,150712.0,2015.0,77092.0,1956.92,NaN,NaN,6.037620e+13
2647642,17290242,NaN,NaN,NaN,4.5,4.0,NaN,NaN,4.5,NaN,...,1.0,NaN,526309.0,1504469.0,2015.0,978160.0,16039.50,NaN,NaN,6.111007e+13
2648072,10796614,1.0,NaN,NaN,3.0,4.0,NaN,7.0,3.0,NaN,...,NaN,NaN,51584.0,90319.0,2015.0,38735.0,1196.48,NaN,NaN,6.037139e+13
2650534,11526663,NaN,NaN,NaN,2.0,2.0,NaN,10.0,2.0,NaN,...,NaN,NaN,245834.0,983344.0,2015.0,737510.0,12004.58,NaN,NaN,6.037275e+13
2660261,11121105,1.0,NaN,NaN,3.0,3.0,NaN,4.0,3.0,NaN,...,NaN,NaN,209225.0,407281.0,2015.0,198056.0,5621.84,NaN,NaN,6.037920e+13
2667505,12097956,NaN,NaN,NaN,5.0,5.0,NaN,4.0,5.0,NaN,...,NaN,NaN,489815.0,727702.0,2015.0,237887.0,8782.08,NaN,NaN,6.037464e+13
2699873,12715657,NaN,NaN,NaN,3.0,4.0,NaN,7.0,3.0,NaN,...,NaN,NaN,55871.0,76245.0,2015.0,20374.0,1411.39,NaN,NaN,6.037503e+13
2714092,12596069,NaN,NaN,NaN,1.0,2.0,NaN,7.0,1.0,NaN,...,NaN,NaN,19668.0,52487.0,2015.0,32819.0,5511.61,NaN,NaN,6.037292e+13
2723988,11226939,NaN,NaN,NaN,1.0,3.0,NaN,7.0,1.0,NaN,...,NaN,NaN,55893.0,83833.0,2015.0,27940.0,1144.15,NaN,NaN,6.037910e+13
2734029,14672826,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,...,NaN,NaN,136288.0,753176.0,2015.0,616888.0,8295.40,NaN,NaN,6.059063e+13
2776559,14022812,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,77822.0,316697.0,2015.0,238875.0,3934.06,NaN,NaN,6.059074e+13
2791726,14079655,NaN,NaN,NaN,3.0,5.0,NaN,NaN,3.0,NaN,...,1.0,NaN,114988.0,244985.0,2015.0,129997.0,20476.86,NaN,NaN,6.059100e+13
2811811,10821829,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,79859.0,226167.0,2015.0,146308.0,2872.36,NaN,NaN,6.037127e+13
2835853,13966342,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,NaN,...,1.0,NaN,75743.0,419366.0,2015.0,343623.0,5123.16,NaN,NaN,6.059099e+13
2840520,17148603,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,130636.0,261272.0,2015.0,130636.0,3214.28,NaN,NaN,6.111009e+13
2859129,11633771,1.0,NaN,NaN,2.0,2.0,NaN,1.0,2.0,NaN,...,NaN,NaN,199900.0,670000.0,2015.0,470100.0,8325.05,NaN,NaN,6.037701e+13
2867392,14490188,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,86786.0,281283.0,2015.0,194497.0,2961.18,NaN,NaN,6.059032e+13
2903136,11476515,NaN,NaN,NaN,1.0,2.0,NaN,7.0,1.0,NaN,...,NaN,NaN,15883.0,66247.0,2015.0,50364.0,875.32,NaN,NaN,6.037620e+13
2903140,11477350,NaN,NaN,NaN,3.0,0.0,NaN,7.0,3.0,NaN,...,NaN,NaN,125513.0,619960.0,2015.0,494447.0,7113.05,NaN,NaN,6.037620e+13
2918297,11561632,NaN,NaN,NaN,2.0,2.0,NaN,4.0,2.0,NaN,...,NaN,NaN,127700.0,498000.0,2015.0,370300.0,5154.75,NaN,NaN,6.037271e+13
2933390,11554091,NaN,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,...,NaN,NaN,208376.0,437155.0,2015.0,228779.0,5448.05,NaN,NaN,6.037272e+13
2954600,13858886,NaN,NaN,NaN,3.5,3.0,NaN,NaN,3.5,NaN,...,NaN,NaN,348073.0,565558.0,2015.0,217485.0,6517.62,NaN,NaN,6.059099e+13
2959871,17237150,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,NaN,...,2.0,NaN,121000.0,581000.0,2015.0,460000.0,6651.40,NaN,NaN,6.111008e+13
2969754,13969515,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,1.0,NaN,64210.0,99175.0,2015.0,34965.0,1702.62,NaN,NaN,6.059099e+13

##### There are duplicated parcelid in train_1 data, only keep the one with most current transaction date

In [19]:
train_2 = train_1.sort_values(['parcelid','transactiondate'], ascending=[True, False]).drop_duplicates('parcelid', keep = 'first')

In [20]:
### check duplication again
np.sum(train_2.groupby('parcelid').agg({'parcelid':pd.Series.nunique}))

parcelid    90150
dtype: int64

In [21]:
len(train_2)

90150

In [22]:
prop_train = pd.merge(train_2, properties_1,
                           left_on = 'parcelid',
                           right_on = 'parcelid',
                           how = 'inner')

In [23]:
### check number of parcelid marched
prop_train['parcelid'].nunique()

90150

In [24]:
### create year
prop_train['year'] = prop_train['transactiondate'].dt.year

In [25]:
### create month
prop_train['month'] = prop_train['transactiondate'].dt.month

In [26]:
### create yearmonth
prop_train['yearmonth'] = prop_train['transactiondate'].dt.year*100+prop_train['transactiondate'].dt.month

In [27]:
prop_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 0 to 90149
Data columns (total 63 columns):
parcelid                        90150 non-null int64
logerror                        90150 non-null float64
transactiondate                 90150 non-null datetime64[ns]
airconditioningtypeid           28748 non-null float64
architecturalstyletypeid        260 non-null float64
basementsqft                    43 non-null float64
bathroomcnt                     90150 non-null float64
bedroomcnt                      90150 non-null float64
buildingclasstypeid             16 non-null float64
buildingqualitytypeid           57284 non-null float64
calculatedbathnbr               88974 non-null float64
decktypeid                      658 non-null float64
finishedfloor1squarefeet        6850 non-null float64
calculatedfinishedsquarefeet    89492 non-null float64
finishedsquarefeet12            85485 non-null float64
finishedsquarefeet13            33 non-null float64
finishedsquarefeet15            3555 non-null float64
finishedsquarefeet50            6850 non-null float64
finishedsquarefeet6             419 non-null float64
fips                            90150 non-null float64
fireplacecnt                    9597 non-null float64
fullbathcnt                     88974 non-null float64
garagecarcnt                    29897 non-null float64
garagetotalsqft                 29897 non-null float64
hashottuborspa                  2363 non-null object
heatingorsystemtypeid           56005 non-null float64
latitude                        90150 non-null float64
longitude                       90150 non-null float64
lotsizesquarefeet               80014 non-null float64
poolcnt                         17876 non-null float64
poolsizesum                     966 non-null float64
pooltypeid10                    1159 non-null float64
pooltypeid2                     1204 non-null float64
pooltypeid7                     16672 non-null float64
propertycountylandusecode       90149 non-null object
propertylandusetypeid           90150 non-null float64
propertyzoningdesc              58232 non-null object
rawcensustractandblock          90150 non-null float64
regionidcity                    88349 non-null float64
regionidcounty                  90150 non-null float64
regionidneighborhood            35956 non-null float64
regionidzip                     90115 non-null float64
roomcnt                         90150 non-null float64
storytypeid                     43 non-null float64
threequarterbathnbr             11996 non-null float64
typeconstructiontypeid          298 non-null float64
unitcnt                         58271 non-null float64
yardbuildingsqft17              2645 non-null float64
yardbuildingsqft26              95 non-null float64
yearbuilt                       89397 non-null float64
numberofstories                 20540 non-null float64
fireplaceflag                   220 non-null object
structuretaxvaluedollarcnt      89772 non-null float64
taxvaluedollarcnt               90149 non-null float64
assessmentyear                  90150 non-null float64
landtaxvaluedollarcnt           90149 non-null float64
taxamount                       90144 non-null float64
taxdelinquencyflag              1775 non-null object
taxdelinquencyyear              1775 non-null float64
censustractandblock             89547 non-null float64
year                            90150 non-null int64
month                           90150 non-null int64
yearmonth                       90150 non-null int64
dtypes: datetime64[ns](1), float64(53), int64(4), object(5)
memory usage: 44.0+ MB

#### Define function to check categorical variable

In [180]:
class categoryvar(object):
    
    def __init__(self, ind_var, dep_var, input_data, dep_continuous=True):
        self.ind_var = ind_var
        self.dep_var = dep_var
        self.input_data = input_data
        self.dep_continuous = dep_continuous
        
        self.temp = self.input_data[self.input_data[self.ind_var].notnull()]
        if len(self.input_data)>len(self.temp):
            self.temp = self.input_data.copy()
            self.input_data[self.ind_var].fillna('Missing value', inplace = True)

    def basic_stat(self):
        if self.dep_continuous==True:
            basic_stat_df = self.temp.groupby(self.ind_var).agg({self.dep_var: {'Count':'count',
                                                                                'Total': np.sum,
                                                                                'Mean': np.mean,
                                                                                'Max': np.max,
                                                                                'Min': np.min,
                                                                                'Median': np.median,
                                                                                'Std': np.std}})
            basic_stat_df.columns = ['_'.join(x) for x in basic_stat_df.columns.ravel()]
            basic_stat_df = basic_stat_df.reset_index()
        else:
            cnt = pd.crosstab(temp[self.dep_var], temp[self.ind_var], margins = True).reset_index()
            row = pd.crosstab(temp[self.dep_var], temp[self.ind_var], normalize= 'index').reset_index()
            col = pd.crosstab(temp[self.dep_var], temp[self.ind_var], normalize = 'columns').reset_index()
            al = pd.crosstab(temp[self.dep_var], temp[self.ind_var], normalize = 'all').reset_index()
            basic_stat_df = ((cnt.append(row)).append(col)).append(al)
            
        return basic_stat_df
    
    def stat_test(self):
        from statsmodels.formula.api import ols
        if self.dep_continuous==True:
            f_oneway = ols('{}~{}'.format(self.dep_var, self.ind_var), data = self.temp).fit()
            stat_test_result = "P-value for F Test:{}".format(f_oneway.f_pvalue)
            
        else:
            
        return print(stat_test_result)

In [163]:
cate_len = temp['airconditioningtypeid'].unique()

In [167]:
from statsmodels.formula.api import ols

In [169]:
t = ols(formula = "logerror~airconditioningtypeid", data = temp).fit()

In [ ]:
t.f_pvalue

In [162]:
temp.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,year,month,yearmonth
0,10711738,0.0276,2016-08-02,1,NaN,NaN,3.0,4.0,NaN,4.0,...,567112.0,2015.0,321932.0,7219.18,NaN,NaN,6.037113e+13,2016,8,201608
1,10711755,-0.0182,2016-08-02,1,NaN,NaN,3.0,3.0,NaN,4.0,...,459844.0,2015.0,205153.0,6901.09,NaN,NaN,6.037113e+13,2016,8,201608
2,10711805,-0.1009,2016-05-03,1,NaN,NaN,2.0,3.0,NaN,4.0,...,384787.0,2015.0,149673.0,4876.61,NaN,NaN,6.037113e+13,2016,5,201605
3,10711816,-0.0121,2016-04-05,1,NaN,NaN,2.0,4.0,NaN,4.0,...,437176.0,2015.0,174867.0,5560.07,NaN,NaN,6.037113e+13,2016,4,201604
4,10711858,-0.0481,2016-07-15,1,NaN,NaN,2.0,4.0,NaN,4.0,...,382055.0,2015.0,150018.0,4878.25,NaN,NaN,6.037113e+13,2016,7,201607

In [181]:
t2 = categoryvar('airconditioningtypeid', 'logerror', prop_train,dep_continuous=True)

In [176]:
t3 = categoryvar('airconditioningtypeid', 'month', prop_train,dep_continuous=False)

In [148]:
cnt = pd.crosstab(temp['month'],temp['bedroomcnt']).reset_index()

In [149]:
row = pd.crosstab(temp['month'],temp['bedroomcnt'], normalize= 'index').reset_index()

In [150]:
col = pd.crosstab(temp['month'],temp['bedroomcnt'], normalize= 'columns').reset_index()

In [153]:
al = pd.crosstab(temp['month'],temp['bedroomcnt'], normalize= 'all').reset_index()

In [137]:
t1.basic_stat()

,bedroomcnt,logerror_Count,logerror_Total,logerror_Mean,logerror_Max,logerror_Min,logerror_Median,logerror_Std
0,0.0,1414,13.7336,0.009713,2.5600,-2.6880,0.00200,0.279360
1,1.0,3892,43.4035,0.011152,2.9530,-1.2980,0.00700,0.150873
2,2.0,22327,120.9029,0.005415,4.7370,-3.1940,0.00400,0.165527
3,3.0,35402,376.9891,0.010649,3.4430,-4.6050,0.00400,0.149518
4,4.0,20255,316.8017,0.015641,4.5200,-2.3540,0.00700,0.155504
5,5.0,5068,124.3119,0.024529,3.4030,-2.3650,0.01390,0.171709
6,6.0,1116,24.7238,0.022154,2.2920,-0.9014,0.01290,0.214295
7,7.0,234,12.1841,0.052069,2.4500,-0.7508,0.02660,0.299486
8,8.0,273,5.0995,0.018679,1.7490,-0.7941,0.01090,0.205894
9,9.0,91,1.9324,0.021235,1.5470,-0.4201,0.00700,0.218736
10,10.0,35,-1.0514,-0.030040,0.6461,-0.8604,0.01090,0.228536
11,11.0,12,-0.3059,-0.025492,0.5805,-0.8440,-0.02635,0.326408
12,12.0,22,0.5479,0.024905,0.3170,-0.3842,0.01915,0.163635
13,13.0,1,-0.0460,-0.046000,-0.0460,-0.0460,-0.04600,NaN
14,14.0,3,-0.4152,-0.138400,0.1106,-0.4829,-0.04290,0.308060
15,15.0,1,-0.1696,-0.169600,-0.1696,-0.1696,-0.16960,NaN
16,16.0,4,0.4095,0.102375,0.4874,-0.1381,0.03010,0.269699

In [150]:
def category_explore(ind_var, dep_var, input_data, dep_continuous=True):
        
    temp = input_data[input_data[ind_var].notnull()]
    
    if len(input_data)>len(temp):
        temp = input_data
        temp[indv_var].fillna('Missing value', inplace = True)
    
    if dep_continuous == True:
        t2 = temp.groupby(ind_var).agg({dep_var: {'Count':'count',
                                                      'Total':np.sum,
                                                      'Mean': np.mean,
                                                      'Max': np.max,
                                                      'Min': np.min,
                                                      'Median': np.median,
                                                      'Std': np.std}})
        t2.columns = ['_'.join(x) for x in t2.columns.ravel()]
        t2 = t2.reset_index()
        

            

        
        
        
            
            
        
    return t2, temp

            
            
            
    
    """
    t1 contains counts and percentage for the categorical variable if dependent variable is discrete;
    
    t2 contains counts and percentage for the categorical variable by discrete dependent variable;
    or mean, min, max, std, median for continuous dependent variable.
    """

In [151]:
t2, temp = category_explore('airconditioningtypeid', 'logerror', prop_train, dep_continuous=True)

In [152]:
t2

,airconditioningtypeid,logerror_Count,logerror_Total,logerror_Mean,logerror_Max,logerror_Min,logerror_Median,logerror_Std
0,1,26640,344.8079,0.012943,4.7370,-3.1940,0.0070,0.143326
1,3,1,0.0917,0.091700,0.0917,0.0917,0.0917,NaN
2,5,215,3.3717,0.015682,1.2210,-0.2370,0.0020,0.105728
3,9,1,0.0100,0.010000,0.0100,0.0100,0.0100,NaN
4,11,63,1.6565,0.026294,0.2111,-0.0987,0.0227,0.065106
5,13,1828,28.5751,0.015632,3.2890,-2.6880,0.0070,0.143074
6,Missing value,61402,660.5389,0.010758,4.5200,-4.6050,0.0050,0.168745

In [154]:
dep_var = 'logerror'
ind_var = 'airconditioningtypeid'

##### airconditioningtypeid